<!--<mat-tab-group>
  <mat-tab label="Patients">

      <ng-container *ngTemplateOutlet="patientsList"></ng-container>


  </mat-tab>
  <mat-tab label="Problems">

      <ng-container *ngTemplateOutlet="problemsList"></ng-container>

  </mat-tab>
  <mat-tab label="Visits">

      <ng-container *ngTemplateOutlet="visitsList"></ng-container>

  </mat-tab>
</mat-tab-group>

<ng-template #patientsList>

  <div class="container">

    <p> Patients</p>
</div>

</ng-template>

<ng-template #problemsList>

    <p> Patient Problems</p>
  </ng-template>

  <ng-template #visitsList>

      <p> Patient Vistis</p>
    </ng-template>
-->
