<mat-toolbar color="primary">

  <mat-toolbar-row>

    <a mat-button href="/" style="padding-left:0px"><mat-icon >local_hospital</mat-icon><span style="font-weight: lighter;font-size:18px">&nbsp;{{title}}</span></a>

      <span class="example-fill-remaining-space"></span>
      <div [fxHide.lt-sm]="true">
          &nbsp; <a mat-button (click)="showPatientAndProblemsSelected()" >
              <span style="font-weight: lighter; font-size: 13px">{{selectedPatient}}</span>
          </a>
          &nbsp;
        </div>
      <span><ngx-auth-firebaseui-avatar (onSignOut)="logout()"></ngx-auth-firebaseui-avatar></span>
    </mat-toolbar-row>

    <mat-toolbar-row [fxHide.gt-xs]="true">
        <a mat-button (click)="showPatientAndProblemsSelected()">
            <span style="font-weight: lighter; font-size: 13px">{{selectedPatient}}</span>
        </a>
    </mat-toolbar-row>

</mat-toolbar>


<div *ngIf="isValid" >
    <nav mat-tab-nav-bar>
        <a mat-tab-link
           *ngFor="let link of navLinks"
           [routerLink]="link.path"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>
  </div>



  <div *ngIf="!isValid">
      <ngx-auth-firebaseui [registrationEnabled]="false" providers="password" appearance="fill"
      (onSuccess)="printUser($event)"
      (onError)="printError($event)">
      </ngx-auth-firebaseui>
  </div>




  <router-outlet></router-outlet>





