<div class="container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap  >
  <div fxFlex="60%">
    <div class="form">

      <div>

        <button mat-stroked-button color="primary">Add Patient</button>
      </div> &nbsp;&nbsp;&nbsp;
      <mat-form-field floatPlaceholder="never" >
        <input matInput #filter placeholder="Filter Patients">
      </mat-form-field>



    </div>

  </div>


  <div fxFlex="40%">


    <mat-paginator #paginator
  [length]="totalRows$ | async"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
></mat-paginator>

  </div>
</div>







<mat-accordion displayMode="flat"  class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" mat-sort-header="vesselName">Name</span>
    <span class="mat-header-cell" mat-sort-header="vesselId">Vessel Id</span>
    <span class="mat-header-cell" mat-sort-header="vesselStatus">Status</span>
    <span class="mat-header-cell" mat-sort-header="ircs">IRCS</span>
  </section>

  <mat-expansion-panel *ngFor="let item of displayedRows$ | async; let i = index"  id="{{i}}" >
    <mat-expansion-panel-header class="mat-row" >
      <span class="mat-cell">{{item.vesselName}}</span>
      <span class="mat-cell">{{item.vesselId}}</span>
      <span class="mat-cell">{{item.vesselStatus}}</span>
      <span class="mat-cell">{{item.ircs}}</span>
    </mat-expansion-panel-header>


    <div><pre>{{item | json}}</pre>


    Index {{i}}
    </div>

    <mat-action-row>
     <button mat-stroked-button color="primary" >Edit</button>&nbsp;
      <button mat-stroked-button color="primary" >Delete</button>&nbsp;
      <button mat-stroked-button color="primary" >View</button>&nbsp;
      <button mat-stroked-button color="primary" (click)="select(i)">Select</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
